/* Importando as fonts dos icones */
@font-face {
    font-family: "icomoon";
    src: url("../assets/fonts/icomoon.eot?qm535k");
    src: url("../assets/fonts/icomoon.eot?qm535k#iefix")
        format("embedded-opentype"),
      url("../assets/fonts/icomoon.ttf?qm535k") format("truetype"),
      url("../assets/fonts/icomoon.woff?qm535k") format("woff"),
      url("../assets/fonts/icomoon.svg?qm535k#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  input[type="text"] {
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", "Lucida Sans", Verdana, sans-serif;
    color: #1d1d1d;
    height: 60px;
    width: 100%;
    padding: 5px 5px 5px 15px;
    border: none;
    border: 2px solid transparent;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid black;
  }
  
  #app {
    height: 100vh;
    display: flex;
    background: #563d7c;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titulo {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  .todo-container {
    padding: 30px;
    border: 1px;
    width: 500px;
    background: #eeeeee;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  .todo-container-list {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  
  .todos-container {
    width: 500px;
    background: #eeeeee;
    color: #a1a1a1;
    padding: 30px;
  }
  
  .todos-container li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
  }
  
  .danger {
    padding-left: 2px;
    font-style: italic;
    font-weight: bold;
    color: #b91d47;
  }
  
  ul.todo li {
    display: flex;
    flex-direction: row;
    color: #8e8e8e;
  }
  
  .todo-title {
    flex: 1;
    font-weight: bold;
    color: #85059a;
    font-size: 1.4rem;
  }
  .todo-done {
      text-decoration: line-through;
      font-style: italic;
      color: #a5a5a5;
  }
  
  .icone {
    opacity: 0;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ul.todo li:hover {
    background: #dcdcdc;
  }
  
  ul.todo li:hover span.icone {
    opacity: 1;
    cursor: pointer;
    margin: 2px 8px;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    transition: opacity 0.3s ease-in-out;
  }
  
  .check {
    color: #388e3c;
  }
  
  .uncheck {
    color: #a70808;
  }
  
  .remove {
    color: black;
  }
  