<div id="app">

    <h1 class="titulo"><i>Lista de tarefas</i></h1>

    <div class="todo-container" [class.todo-container-list]="todos">

        <form [formGroup]="form">
            <input type="text" name="todo" id="todo" placeholder="Insira uma nova tarefa..." maxlength="60"
                (keyup.enter)="add($event)" formControlName="title" autocomplete="off">

            <small class="danger" *ngIf="title.hasError('minlength') || title.hasError('maxlength') && !title.pristine">
                Mínimo de 3 e máximo de 60 caracteres
            </small>
        </form>
    </div>

    <div class="todos-container" *ngIf="todos.length > 0">
        <ul class="todo">
            <li *ngFor="let todo of todos">

                <span class="todo-title" [class.todo-done]="todo.done">{{todo.title}}</span>

                <div class="container-actions">
                    <span class="icone check" *ngIf="!todo.done" (click)="markAsDone(todo)">&#xea10;</span>

                    <span class="icone uncheck" *ngIf="todo.done" (click)="markAsUndone(todo)">&#xea0f;</span>

                    <span class="icone remove" (click)="remove(todo)">&#xe9ad;</span>
                </div>
            </li>
        </ul>
    </div>
</div>