/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, li {
    margin: 0px;
    padding: 0px
}
